<h1><%= @tag.name %></h1>
<h4>Tagged recipes:</h4>

<p><a href="<%= @tag.id %>/edit">Edit</a> | <a href="/tags/<%= @tag.id %>" data-method="delete" data-confirm="Are you sure?" rel="nofollow">Delete</a> | <a href="/tags">Show All</a></p>
